$urlImage: "../assets/images";
.about-bg {
  background-image: url("#{$urlImage}/home/section1/BACKGROUND@1X.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin: -1.5rem;
  display: flex;
  align-items: center;
  min-height: 100vh;
  &.bgnight {
    background-image: url("#{$urlImage}/home/section1/Rectangle 47.png");
  }
}
#about {
  //   position: absolute;
  //   left: 50%;
  //   top: 0%;
  //   transform: translateX(-50%);
  &.container {
    padding-top: var(--bs-gutter-x, 0);
    overflow-y: unset;
    max-height: unset;
  }
  margin-top: 150px;
  .logo-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    .toggle {
      line-height: 1;
      margin-top: 5px;
      color: white;
      font-size: 22px;
      margin-left: 45px;
      // cursor: pointer;
      div {
        float: left;
        margin-left: 5px;
      }
      &.day {
        div:nth-child(2) {
          margin-left: 30px;
        }
        .day {
          color: #6268e9;
          width: 15px;
          border-bottom: 2px solid;
        }
      }
      &.night .night {
        color: #c33289;
        width: 15px;
        border-bottom: 2px solid;
      }
    }
    .left {
      .logo .group {
        width: fit-content;
        float: right;
        img {
          width: 450px;
        }
      }
    }
    // .left {
    //   line-height: 1;
    //   text-align: right;
    //   font-weight: bold;
    //   color: #ffffff;
    //   text-shadow: 0px 0px 6px #ffffff;
    //   display: flex;
    //   justify-content: flex-end;
    //   align-items: flex-start;
    //   margin-bottom: 20px;
    //   margin-right: 20px;
    //   .logo {
    //     margin-right: 15px;
    //     .title {
    //       font-family: "Kanit-Black";
    //       font-size: 63px;
    //       text-shadow: 0px 0px 10px #ffffff;
    //     }
    //     .sub {
    //       text-align: center;
    //       font-size: 20px;
    //       font-weight: 500;
    //       margin-bottom: 20px;
    //       text-shadow: 0px 0px 5px white;
    //     }
    //   }
    //   .toggle {
    //     text-align: left;
    //     position: relative;
    //     margin-right: 30px;
    //     .day {
    //       transition: font-size 0.5s;
    //       font-size: 30px;
    //       margin: 7px 0px 5px 0px;
    //       // cursor: pointer;
    //       text-shadow: 0px 0px 5px white;
    //       // &.active {
    //       //   font-size: 64px;
    //       //   margin: 9px 0px 12px 0px;
    //       //   box-shadow: 0 6px 2px -2px white;
    //       // }
    //     }
    //     .night {
    //       font-size: 30px;
    //       color: #e17cff;
    //       transition: font-size 0.5s;
    //       text-shadow: 0px 0px 10px #e17cff;
    //     }
    //     .n {
    //       position: absolute;
    //       bottom: 5px;
    //       right: -24px;
    //       font-family: "Savoye Regular";
    //       font-weight: 100;
    //       color: #1ba7ff;
    //       font-size: 63px;
    //       text-shadow: 0px 0px 5px #1ba7ff, 0px 0px 10px #1ba7ff;
    //       transition: bottom 0.25s, font-size 0.25s;
    //     }
    //     &.night {
    //       .n {
    //         bottom: 5px;
    //         right: -24px;
    //         color: #b51bff;
    //         text-shadow: 0px 0px 5px #b51bff, 0px 0px 10px #b51bff;
    //         font-size: 63px;
    //       }
    //     }
    //   }
    // }
    .right {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .title {
        font-family: "Kanit-SemiBold";
        text-align: left;
        font-size: 36px;
        text-shadow: 0px 0px 6px #ffffff;
      }
      .description {
        max-width: 500px;
        text-align: left;
        font-family: "Roboto-Bold";
        font-size: 12px;
      }
    } // description
  } // logo-block

  .about-description {
    .header {
      text-align: center;
      color: white;
      font-family: "Kanit-SemiBold";
      font-size: 45.6px;
      margin-bottom: 25px;
    }
    .timeline {
      .timeline-item {
        .default-coverImage {
          background-color: #423c3c;
          width: 570px;
          height: 336px;
        }
        .image {
          display: flex;
          align-items: center;
          // border-right: 2px solid white;
          justify-content: flex-end;
          padding-bottom: 25px;
          // padding-right: 25px;
          img {
            width: 100%;
          }
        }
        .line {
          position: relative;
          border-right: 2px solid white;
          &::before {
            content: "";
            position: absolute;
            top: 0px;
            right: -11px;
            width: 20px;
            height: 20px;
            border: 3px solid black;
            border-radius: 50%;
            background: white;
          }
        }
        .year {
          position: relative;
          color: white;
          font-family: "Kanit-SemiBold";
          font-size: 31px;
          line-height: 0.5;
          padding-left: 30px;
          // &::before {
          // content: "";
          // position: absolute;
          // top: 0px;
          // left: -11px;
          // width: 20px;
          // height: 20px;
          // border: 3px solid black;
          // border-radius: 50%;
          // background: white;
          // }
        }
        .title {
          color: white;
          font-family: "Roboto-Bold";
          font-size: 14px;
          margin-bottom: 25px;
        }
        .content {
          color: rgba(255, 255, 255, 0.6);
          font-family: "Roboto-Regular";
          font-size: 14px;
          padding-bottom: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #about {
    .about-description {
      .timeline {
        .timeline-item {
          div:nth-child(4) {
            .title {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #about {
    justify-content: center;
    .logo-block {
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(var(--bs-gutter-y) * -1);
      margin-right: calc(var(--bs-gutter-x) * -0.5);
      margin-left: calc(var(--bs-gutter-x) * -0.5);
      .left {
        justify-content: center;
        width: 100%;
        .logo .group {
          float: unset;
          margin: auto;
        }
        .toggle {
          font-size: 20px;
        }
        // flex: 0 0 auto;
        // width: 100%;
      }
      .right {
        width: 100%;
        flex: 0 0 auto;
        width: 100%;
        .title {
          text-align: center;
        }
        .description {
          text-align: center;
          max-width: none;
        }
      }
    }
    .about-description {
      .timeline {
        .timeline-item {
          div:nth-child(4) {
            .title {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 426px) {
  #about {
    margin-top: 0px;
    .logo-block {
      margin-bottom: 0;
      .left .logo .group {
        padding: 35px;
        img {
          width: 200px;
        }
      }
      // .left {
      //   justify-content: center;
      //   .logo {
      //     margin-right: 15px;
      //     .title {
      //       font-family: "Kanit-Black";
      //       font-size: 60px;
      //     }
      //     .sub {
      //       font-size: 18px;
      //       font-weight: 500;
      //     }
      //   }
      //   .toggle {
      //     .day {
      //       // font-size: 35px;
      //       &.active {
      //         //   font-size: 40px;
      //       }
      //     }
      //     .night {
      //       // font-size: 35px;
      //       &.active {
      //         //   font-size: 40px;
      //       }
      //     }
      //     .n {
      //       position: absolute;
      //       right: -25px;
      //       bottom: 5px;
      //       font-family: "Savoye Regular";
      //       font-weight: 100;
      //       color: #1ba7ff;
      //       font-size: 63px;
      //       text-shadow: 0px 0px 10px #1ba7ff;
      //       transition: bottom 0.25s, font-size 0.25s;
      //     }
      //     &.night {
      //       margin-right: 0px;
      //       .n {
      //         //   bottom: 25px;
      //         //   right: 0px;
      //         //   font-size: 60px;
      //       }
      //     }
      //   }
      // }
      .right {
        width: 100%;
        flex: 0 0 auto;
        width: 100%;
        .title {
          text-align: left;
          font-size: 23px;
          padding: 15px 0;
        }
        .description {
          text-align: left;
          max-width: none;
        }
      }
    }
    .about-description {
      padding: 0;
      .header {
        font-size: 31px;
        text-align: left;
      }
      .timeline {
        .timeline-item {
          div:nth-child(4) {
            .title {
              text-align: left;
            }
          }
          .year {
            padding-left: 12px;
            padding-bottom: 20px;
            font-size: 31px;
          }
          .col-5 {
            width: 100%;
          }
          .image {
            display: none;
          }
          .line {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 321px) {
  #about {
    .logo-block {
      margin-bottom: 0;
      .left .logo .group {
        img {
          width: 200px;
        }
      }
      // .left {
      //   .logo {
      //     margin-right: 15px;
      //     .title {
      //       font-family: "Kanit-Black";
      //       font-size: 40px;
      //     }
      //     .sub {
      //       font-size: 14px;
      //       font-weight: 500;
      //     }
      //   }
      //   .toggle {
      //     margin-right: 0px;
      //     .day {
      //       font-size: 26px;
      //       margin: 4px 0px 5px 0px;
      //       &.active {
      //         //   font-size: 40px;
      //       }
      //     }
      //     .night {
      //       font-size: 26px;
      //       &.active {
      //         //   font-size: 40px;
      //       }
      //     }
      //     .n {
      //       position: absolute;
      //       right: -25px;
      //       bottom: 0px;
      //       font-family: "Savoye Regular";
      //       font-weight: 100;
      //       color: #1ba7ff;
      //       font-size: 63px;
      //       text-shadow: 0px 0px 10px #1ba7ff;
      //       transition: bottom 0.25s, font-size 0.25s;
      //     }
      //     &.night {
      //       .n {
      //         //   bottom: 28px;
      //         //   right: 20px;
      //         //   font-size: 40px;
      //       }
      //     }
      //   }
      // }
      .right {
        width: 100%;
        flex: 0 0 auto;
        width: 100%;
        .title {
          text-align: left;
          font-size: 23px;
          padding: 15px 0;
        }
        .description {
          text-align: left;
          max-width: none;
        }
      }
    }
    .about-description {
      .header {
        font-size: 31px;
        text-align: left;
      }
      .timeline {
        .timeline-item {
          div:nth-child(4) {
            .title {
              text-align: left;
            }
          }
          .year {
            padding-left: 12px;
            padding-bottom: 20px;
            font-size: 31px;
          }
          .col-5 {
            width: 100%;
          }
          .image {
            display: none;
          }
          .line {
            display: none;
          }
          .year {
            font-size: 20px;
          }
        }
      }
    }
  }
}
