#contact {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .map {
    padding: 20px;
    img {
      width: 100%;
    }
  }
  .contact-description {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: space-between;
    padding: 20px;
    width: auto;
    .logo-block {
      .left {
        line-height: 1;
        text-align: right;
        font-weight: bold;
        color: #ffffff;
        text-shadow: 0px 0px 6px #ffffff;
        display: flex;
        margin-bottom: 20px;
        .logo {
          margin-right: 15px;
          .title {
            font-family: "Kanit-Black";
            font-size: 87.2px;
          }
          .sub {
            font-size: 28.8px;
            font-weight: 500;
          }
        }
        .toggle {
          text-align: left;
          position: relative;
          margin-right: 30px;
          .day {
            transition: font-size 0.5s;
            font-size: 45.6px;
            margin: 15px 0px 10px 0px;
            &.active {
              font-size: 64px;
              margin: 9px 0px 12px 0px;
              box-shadow: 0 6px 2px -2px white;
            }
          }
          .night {
            font-size: 33.6px;
            $color: #e17cff;
            color: $color;
            transition: font-size 0.5s;
            text-shadow: 0px 0px 10px $color;
            &.active {
              font-size: 43.2px;
              box-shadow: 0 6px 2px -2px $color;
            }
          }
          .n {
            position: absolute;
            right: -50px;
            bottom: -12px;
            font-family: "Savoye Regular";
            font-weight: 100;
            color: #1ba7ff;
            font-size: 90px;
            text-shadow: 0px 0px 10px #1ba7ff;
            transition: bottom 0.25s, font-size 0.25s;
          }
          &.night {
            margin-right: 10px;
            .n {
              bottom: 10px;
              right: -22px;
              color: #b51bff;
              text-shadow: 0px 0px 10px #b51bff;
              font-size: 80px;
            }
          }
        }
      }
      .description {
        color: white;
        font-size: 14px;
        .address {
          margin-bottom: 15px;
        }
        p {
          margin-bottom: unset;
        }
      } // description
    } // logo-block

    .icon-group {
      display: flex;
      justify-content: flex-end;
      .contact-icon {
          margin-left: 10px;
      }
    }
  }
}
