$urlImage: "../assets/images";
.contact-bg {
  background-image: url("#{$urlImage}/home/section1/BACKGROUND@1X.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin: -1.5rem;
  display: flex;
  align-items: center;
  min-height: 100vh;
  &.bgnight {
    background-image: url("#{$urlImage}/home/section1/Rectangle 47.png");
  }
}
#contact {
  //   position: absolute;
  //   left: 50%;
  //   top: 50%;
  //   transform: translate(-50%, -50%);
  .map {
    padding: 20px;
    text-align: right;
    img {
      //   width: 100%;
      //   height: auto;
      height: 100%;
      width: auto;
      max-width: 100%;
    }
  }
  .contact-description {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: space-between;
    padding: 20px;
    width: auto;
    .logo-block {
      .toggle {
        display: flex;
        line-height: 1;
        margin-top: 5px;
        color: white;
        font-size: 22px;
        margin-left: 45px;
        // cursor: pointer;
        div {
          float: left;
          margin-left: 5px;
        }
        &.day {
          div:nth-child(2) {
            margin-left: 30px;
          }
          .day {
            color: #6268e9;
            width: 15px;
            border-bottom: 2px solid;
          }
        }
        &.night .night {
          color: #c33289;
          width: 15px;
          border-bottom: 2px solid;
        }
      }
      .left {
        .logo .group {
          //   width: fit-content;
          //   float: right;
          img {
            width: 450px;
          }
        }
      }
      .description {
        margin-bottom: 15px;
        .title {
          color: #e17cff;
          font-family: "Roboto-Bold";
          font-size: 14px;
          text-align: left;
        }
        .company {
          color: rgba(255, 255, 255, 0.8);
          font-family: "Roboto-Bold";
          font-size: 14px;
        }
        .address {
          color: rgba(255, 255, 255, 0.5);
          font-family: "Roboto-Regular";
          font-size: 14px;
        }
      } // description
      .email {
        color: rgba(255, 255, 255, 0.5);
        font-family: "Roboto-Regular";
        font-size: 14px;
        margin-bottom: 15px;
      } // email
      .icon-group {
        display: flex;
        justify-content: flex-start;
        .contact-icon {
          opacity: 0.6;
          margin-right: 10px;
        }
      }
    } // logo-block
  } // end contact-description
  .direction {
    padding: 20px;
    margin-bottom: 50px;
    .title {
      color: #e17cff;
      font-size: 14px;
      font-family: "Roboto-Bold";
      text-align: left;
    }
    .subtitle {
      color: rgba(225, 124, 255, 0.8);
      font-family: "Roboto-Regular";
      font-size: 14px;
    }
    .description {
      color: rgba(225, 225, 255, 0.8);
      font-family: "Roboto-Regular";
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 768px) {
  .contact-bg {
    background-size: cover;
  }
  #contact {
    .map {
      text-align: center;
    }
    .contact-description .logo-block {
      .left {
        justify-content: center;
        width: 100%;
        .logo .group {
          float: unset;
          margin: auto;
          img {
              width: 320px;
              display: none;
          }
          .toggle {
            display: none;
          }
        }
        .toggle {
          font-size: 20px;
          margin-left: calc(45px * 0.5 + 5px);
        }
      }
    }
  }
}

@media screen and(max-width: 426px) {
  #contact .contact-description {
    padding: 10px;
    .logo-block {
      .left {
        .logo {
          .group {
            img {
              display: none;
            }
            .toggle {
              display: none;
            }
          }
        }
        justify-content: center;
      }
    }
  }
}

@media screen and(max-width: 321px) {
  #contact .contact-description .logo-block .left {
    .logo {
      .title {
        font-size: calc(63px * 0.75);
      }
      .sub {
        font-size: calc(20px * 0.75);
      }
    }
    .toggle {
      .n,
      &.night .n {
        font-size: calc(63px * 0.75);
        bottom: 30px;
        right: -19px;
      }

      .day {
        font-size: calc(30px * 0.75);
      }
      .night {
        font-size: calc(30px * 0.75);
      }
    }
  }
}
