.container {
  font-family: "Kanit-Regular";
  padding-top: var(--bs-gutter-x, 1.75rem);
  .title {
    font: size 25px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    .group-title {
      width: fit-content;
      display: inline-block;
      .customText {
        font-size: 40px;
        letter-spacing: 0px;
        // text-shadow: 1px 1px 1px white, 0 0 3px white, 0 0 3px white;
        text-shadow: 0px 0px 5px white, 0px 0px 10px white;
      }
      .sup {
        text-align: left;
        font-size: 14px;
      }
      .sub {
        font-size: 21px;
        text-align: right;
        color: #b61bff;
        // text-shadow: 1px 1px 1px #b61bff, 0 0 3px #b61bff,
        //     0 0 3px #b61bff;
        text-shadow: 1px 0px 10px rgba(182, 27, 255, 0.5),
          0px 1px 10px rgba(182, 27, 255, 0.5),
          -1px 0px 10px rgba(182, 27, 255, 0.5),
          0px -1px 10px rgba(182, 27, 255, 0.5);
      }
    }
  }
  .content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    .map {
      .map-img {
        height: 70vh;
      }
      .mappin {
        position: relative;
        .pin {
          width: 4%;
          cursor: pointer;
          &:hover {
            animation: jump 0.5s linear;
            @keyframes jump {
              0% {
                transform: translate(0%, 0%) scale(1.25, 0.75);
              }
              50% {
                transform: translate(0%, -50%) scale(1, 1);
              }
              100% {
                transform: translate(0%, 0%) scale(1.25, 0.75);
              }
            }
          }
          &.pinn {
            width: 5%;
            &.animate {
              animation: jump 0.5s linear;
              @keyframes jump {
                0% {
                  transform: translate(0%, 0%) scale(1.25, 0.75);
                }
                50% {
                  transform: translate(0%, -50%) scale(1, 1);
                }
                100% {
                  transform: translate(0%, 0%) scale(1.25, 0.75);
                }
              }
            }
          }
        }
      }
      position: relative;

      $top: unset unset unset 39% 41% 42% 35% 35.9% 36.8% 29.8% 9.4% 12.6% 8.4%
        11% 8% 12.8%;
      $left: unset 15% 15% 17.6% 24% 32% 32% 37.8% 43.6% 25.2% 38% 43% 31.2%
        33.5% 41% 40%;
      $right: 28% unset unset unset unset unset unset unset unset unset unset
        unset unset unset unset unset;
      $bottom: 5% 25.6% 42% unset unset unset unset unset unset unset unset
        unset unset unset unset unset;

      $topp: unset unset unset 38% 39.7% 40.8% 34% 34.5% 35.5% 28.6% 8.2% 11.3%
        6.8% 9.8% 6.8% 11.6%;
      $leftp: unset 14.6% 15% 17.2% 23.6% 31.6% 31.5% 37.2% 42.8% 24.8% 37.3%
        42.6% 30.6% 33% 40.8% 39.5%;
      $rightp: 27.2% unset unset unset unset unset unset unset unset unset unset
        unset unset unset unset unset;
      $bottomp: 5.2% 26.8% 42% unset unset unset unset unset unset unset unset
        unset unset unset unset unset;
      @for $i from 1 through 16 {
        .pin:nth-child(16n + #{$i}) {
          top: nth($top, $i);
          left: nth($left, $i);
          right: nth($right, $i);
          bottom: nth($bottom, $i);
          position: absolute;

          &.pinn {
            top: nth($topp, $i);
            left: nth($leftp, $i);
            right: nth($rightp, $i);
            bottom: nth($bottomp, $i);
          }
        }
      }
      @media screen and (max-width: 1440px) {
        @for $i from 1 through 16 {
          .pin:nth-child(16n + #{$i}) {
            @if $i == 1 {
              bottom: nth($bottom, $i);
              right: nth($right, $i);
              position: absolute;
            } @else if $i == 2 {
              bottom: calc(#{nth($bottom, $i)} - -1%);
              left: nth($left, $i);
              position: absolute;
            } @else if $i == 3 {
              bottom: calc(#{nth($bottom, $i)} - 0%);
              left: calc(#{nth($left, $i)} - 0%);
              position: absolute;
            } @else if $i >= 4 and $i <= 6 {
              top: calc(#{nth($top, $i)} + 0%);
              left: calc(#{nth($left, $i)} - 0%);
              position: absolute;
            } @else if $i >= 7 and $i <= 9 {
              top: calc(#{nth($top, $i)} + 0%);
              left: nth($left, $i);
              position: absolute;
            } @else if $i == 12 {
              top: calc(#{nth($top, $i)} + 0%);
              left: nth($left, $i);
              position: absolute;
            } @else if $i == 13 {
              top: calc(#{nth($top, $i)} + 0%);
              left: nth($left, $i);
              position: absolute;
            } @else if $i >= 14 and $i <= 15 {
              top: calc(#{nth($top, $i)} + 0%);
              left: nth($left, $i);
              position: absolute;
            } @else {
              top: calc(#{nth($top, $i)} + 0%);
              left: nth($left, $i);
              position: absolute;
            }
          }
        }
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .content-view {
      overflow-y: auto;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none;
      max-height: 70vh;
      .image-view {
        position: relative;
        margin-bottom: 15px;
      }
      .default-coverImage {
        background-color: #423c3c;
        width: 570px;
        height: 336px;
      }
    }
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: #0c0c0c;
      .text {
        color: white;
        font-size: 14px;
        position: absolute;
        margin: 40px 40px 0 25px;
        font-family: "Roboto-Bold";
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        // -ms-transform: translate(-50%, -50%);

        span {
          text-indent: 30%;
          text-align: left;
        }

        .text-title {
          margin-right: 25px;
          color: #ba1bff;
          font-size: 18px;
          font-family: "Prompt-Bold";
          text-align: left;
        }

        .sub-text {
          display: flex;
          font-size: 14px;
          font-family: "Kanit-Regular";
          justify-content: left;
          align-items: center;
          p:nth-child(1) {
            margin-right: 25px;
            color: #ba1bff;
          }
        }

        .hover-img {
          filter: invert(19%) sepia(87%) saturate(4315%) hue-rotate(276deg)
            brightness(103%) contrast(108%);
        }
      }
    }
    .image-view:hover > .overlay {
      opacity: 0.8;
      cursor: pointer;
    }
    .content-view::-webkit-scrollbar {
      display: none;
    }
  }
}
