.default {
    padding-bottom: 3rem !important;
}
.gallery-bg {
    position: absolute;
    left: 0;
    top: 0;
    filter: blur(12px) brightness(0.5);
    object-fit: cover;
    height: 100%;
    width: 100%;
    img {
        width: 100%;
        height: 100%;
    }
}
.main-gallery-id {
    font-family: 'Kanit-Regular';
    .container::-webkit-scrollbar {
        display: none;
    }
    .container-gallery {
        padding-top: var(--bs-gutter-x, 3rem);
        padding-bottom: var(--bs-gutter-x, 3rem);
        margin-bottom: 50px;
        width: 80%;
        margin: auto;
        background-image: url('../../assets/images/gallery/BACKGROUND.svg') !important;
        border-radius: 5px;
        .title-sub-gallery {
            margin: 0 16px;
            .text-title {
                text-align: left;
                font-size: 12px;
                p:nth-child(1) {
                    color: #ffffff;
                    font-size: 32px;
                    font-weight: bold;
                    font-family: 'Prompt-Bold';
                }
                .boardcast {
                    float: left;
                    padding: 0px;
                    margin-right: 5px;
                    display: flex;
                    justify-content: flex-end;
                    .live {
                        border: 1px solid white;
                        padding: 3px 12px;
                        border-radius: 50px;
                        margin-bottom: auto;
                        cursor: pointer;
                        position: relative;
                        width: fit-content;
                        // margin-bottom: 10px;
                        display: flex;
                        align-items: center;
                        span:nth-child(2) {
                            color: #e17cff;
                            &.changeColor {
                                color: #fff;
                            }
                        }
                        span:nth-child(3) {
                            color: #ffffff;
                        }
                        .dotted {
                            height: 10px;
                            width: 10px;
                            background-color: #f61bff;
                            border-radius: 50%;
                            display: inline-block;
                            border: 1px solid white;
                            margin-right: 5px;
                            &.changeColor {
                                background-color: #fff;
                                opacity: 40%;
                                animation: live 1.4s infinite ease-in-out;
                                animation-fill-mode: both;
                                animation-delay: 0.42s;
                                @keyframes live {
                                    0%,
                                    80%,
                                    100% {
                                        background-color: red;
                                        opacity: 1;
                                        transform: scale(0.6);
                                        -webkit-transform: scale(0.6);
                                    }
                                    40% {
                                        background-color: red;
                                        transform: scale(1);
                                        -webkit-transform: scale(1);
                                    }
                                }
                            }
                        }
                        .dropdown {
                            display: none;
                            text-align: center;
                            color: #fff;
                            font-size: 14px;
                            font-family: 'Kanit-Regular';
                            position: absolute;
                            top: 170%;
                            right: 0;
                            // width: 330px;
                            width: auto;
                            height: auto;
                            border: 0.5px solid #ffffff;
                            background: #030124 0% 0% no-repeat padding-box;
                            box-shadow: 0px 3px 6px #ffffff29;
                            border-radius: 12px;
                            cursor: default;
                            // margin-top: 20px;
                            margin-top: 10px;
                            padding: 0px 30px;
                            z-index: 1;
                            .triangle {
                                position: absolute;
                                right: 17px;
                                top: -17px;
                                width: 30px;
                                border-left: 15px solid transparent;
                                border-right: 15px solid transparent;
                                border-bottom: 16px solid white;
                                &::after {
                                    content: '';
                                    position: absolute;
                                    top: 2px;
                                    right: -15px;
                                    width: 0;
                                    height: 0;
                                    border-left: 15px solid transparent;
                                    border-right: 15px solid transparent;
                                    border-bottom: 16px solid #030124;
                                }
                            }
                            .dropdown-title {
                                text-align: center;
                                font-size: 18px;
                                color: #fff;
                                margin-top: 25px;
                                font-family: 'Prompt-Bold';
                            }
                            .dropdown-body {
                                margin: 15px 0 20px 0;
                                .dropdown-group {
                                    padding: 10px 0px;
                                    border: 1px solid white;
                                    border-radius: 25px;
                                    margin: 20px 25px;
                                    cursor: pointer;
                                    position: relative;
                                    &.selected {
                                        border-color: #e17cff;
                                    }
                                }
                                &.selected {
                                    border-color: #e17cff;
                                }
                            }
                            &.open {
                                transition: display 1s;
                                display: block;
                                height: auto;
                                // width: 330px;
                                overflow: unset;
                            }
                        }
                    }
                }
                // end boardcast
                .map {
                    float: left;
                    padding: 0px;
                    img {
                        cursor: pointer;
                    }
                    img:nth-child(1) {
                        margin-right: 5px;
                    }
                }
            }
            .sub-text {
                display: block;
                width: 100%;
                margin-bottom: 10px;
                img {
                    display: inline-block;
                    margin-right: 5px;
                }
                span:nth-child(2) {
                    display: inline-block;
                    color: #ba1bff;
                    margin-right: 15px;
                }
                span:nth-child(3) {
                    display: inline-block;
                    color: #ffffff;
                }
                .views-count {
                    float: right;
                    font-size: 14px;
                    font-family: 'Kanit-Regular';
                    color: #fff;
                    margin-bottom: 10px;
                    // text-align: end;
                    img {
                        cursor: default;
                        margin-right: 5px;
                    }
                }
            }
            .hover-img {
                filter: invert(19%) sepia(87%) saturate(4315%)
                    hue-rotate(276deg) brightness(103%) contrast(108%);
            }
        }
        .content-sub-gallery,
        .live-view,
        .showreel {
            .showreel-text {
                margin: 25px 40px;
                color: #ba1bff;
            }
            video {
                width: 100%;
                object-fit: fill;
            }
            .content-img {
                text-align: center;
                img {
                    height: 100%;
                    max-width: 100%;
                    max-height: 520px;
                    object-fit: scale-down;
                    // height: 500px;
                }
            }
            .content-description {
                font-size: 14px;
                margin: 25px 40px;
                color: #ffffff;
            }
        }
        .gallery-footer {
            display: flex;
            margin: 25px 40px;
            .profile {
                margin-bottom: 10px;
                width: 100%;
                object-fit: scale-down;
            }
            .footer-description {
                position: relative;
                font-size: 14px;
                color: #ffffff;
                p {
                    margin-bottom: 0;
                }
                p:nth-child(1) {
                    font-size: 20px;
                    font-weight: bold;
                    color: #ba1bff;
                }
                p:nth-child(3) {
                    margin-bottom: 10px;
                    img {
                        margin: auto;
                    }
                }
                .footer-icon {
                    // position: absolute;
                    // bottom: 5%;
                    display: flex;
                    .footer-icon-img {
                        // margin: 0 3px;
                        img {
                            cursor: pointer;
                            margin: 0 3px;
                        }
                    }
                }
            }
        }
        .content-sub-gallery {
            .content-img {
                background-color: black;
            }
            .modelView {
                position: relative;
                .icon-360 {
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    right: 15px;
                    bottom: 15px;
                    background-color: #e17cff;
                    mask: url('../../assets/images/gallery/icon-360.png')
                        center/contain;
                }
            }
        }
    }
    position: relative;
    .left-arrow {
        position: fixed;
        left: 5%;
        top: 50%;
        transform: translateX(-33%);
    }
    .right-arrow {
        position: fixed;
        right: 5%;
        top: 50%;
        transform: translateX(33%);
    }
    .customButton {
        background-color: #7948e6;
        color: #ffffff;
        border-radius: 100%;
        border: none;
        position: relative;
        width: 48px;
        height: 48px;
        .arrow {
            border: 0.5px solid white;
            width: 28px;
            position: absolute;
        }
        .left {
            border: solid white;
            position: absolute;
            border-width: 0 2px 2px 0;
            padding: 4px;
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            top: 20px;
        }
        .right {
            border: solid white;
            position: absolute;
            border-width: 2px 0px 0px 2px;
            padding: 4px;
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            top: 20px;
            right: 20%;
        }
    }
    @media screen and (max-width: 1024px) {
        .container-gallery .title-sub-gallery .text-title {
            .boardcast {
                .live {
                    font-size: 10px;
                    .dotted {
                        height: 9px;
                        width: 9px;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        .container-gallery .title-sub-gallery .text-title {
            .boardcast {
                float: right;
                margin-bottom: 5px;
                .live {
                    font-size: 9px;
                    padding: 3px 9px;
                }
            }
            .map {
                float: right;
                margin-bottom: 5px;
            }
        }
    }
    @media screen and (max-width: 425px) {
        .container-gallery {
            width: 95%;
            .title-sub-gallery {
                .text-title {
                    p:nth-child(1) {
                        font-size: calc(32px * 0.75);
                    }
                    .boardcast {
                        float: unset;
                    }
                }
                .sub-text {
                    span:nth-child(2),
                    span:nth-child(3) {
                        font-size: 14px;
                    }
                }
            } // title-sub-gallery
            .content-sub-gallery .content-description {
                margin: 15px 20px;
            }
        }
    }
}
