.section3 {
    position: relative;
    min-height: 100vh;
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(
            360deg,
            #030024,
            #030024 30%,
            rgba(177, 158, 158, 0)
        );
        z-index: 2;
    }

    .slide-container {
        display: block;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 100vh;
        &::-webkit-scrollbar {
            display: none;
        }
        .items {
            position: relative;
            width: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            .item {
                display: inline-block;
                background-image: linear-gradient(
                        360deg,
                        #030024,
                        #030024 30%,
                        transparent
                    ),
                    url('../../assets/images/gallery/Image 1.png');
                height: 100vh;
                width: 100%;
            }
        }
    }

    //   .sec3-img {
    //     min-height: 100vh;
    //     width: 100%;
    //     white-space: nowrap;
    //     overflow-x: scroll;
    //     overflow-y: hidden;
    //     img {
    //       min-height: 100vh;
    //       white-space: nowrap;
    //     }
    //     // width: 100%;
    //     // max-width: 1520px;
    //     // height: 614px;
    //     // overflow-x: scroll;
    //     // overflow-y: auto;
    //     // z-index: 3;
    //     // position: absolute;
    //     // &::-webkit-scrollbar {
    //     //   display: none;
    //     // }

    //     &::-webkit-scrollbar {
    //       width: 20px;
    //     }
    //     /* Track */
    //     &::-webkit-scrollbar-track {
    //       box-shadow: inset 0 0 5px grey;
    //       border-radius: 10px;
    //     }

    //     /* Handle */
    //     &::-webkit-scrollbar-thumb {
    //       background: red;
    //       border-radius: 10px;
    //     }

    //     /* Handle on hover */
    //     &::-webkit-scrollbar-thumb:hover {
    //       background: #b30000;
    //     }
    //   }
    .text-container {
        padding-top: var(--bs-gutter-x, 0);
        overflow-y: unset;
        max-height: unset;
        position: absolute;
        bottom: 25px;
        // left: 13%;
        width: 100%;
        z-index: 4;
        .sec3-content {
            // margin-bottom: 3rem;
            color: #fff;
            .group-discription {
                padding-right: 40px;
                p {
                    font-family: 'Roboto-Bold';
                    font-size: 14px;
                }
                .btn-outline-primary {
                    border-radius: 20px;
                    color: #e17cff;
                    border: 1px solid #e17cff;
                    width: 187px;
                    height: 37px;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
            .group-title {
                width: fit-content;
                display: inline-block;
                .customText {
                    font-family: 'Prompt-Bold';
                    font-size: 67px;
                    font-weight: bold;
                    letter-spacing: 0px;
                    text-shadow: 1px 1px 1px white, 0 0 2px white, 0 0 5px white;
                }
                .sub {
                    font-family: 'Prompt-Medium';
                    font-size: 35px;
                    text-align: right;
                    color: #b61bff;
                    text-shadow: 1px 1px 1px #b61bff, 0 0 2px #b61bff,
                        0 0 5px #b61bff;
                }
            }
        }
    }
    .left-arrow {
        position: absolute;
        left: 3%;
        top: 35%;
        z-index: 1;
    }
    .right-arrow {
        position: absolute;
        right: 3%;
        top: 35%;
        z-index: 1;
    }
    .customButton {
        background-color: #7948e6;
        color: #ffffff;
        border-radius: 100%;
        // border: none;
        position: relative;
        width: 48px;
        height: 48px;
        .arrow {
            border: 0.5px solid white;
            width: 25px;
            position: absolute;
        }
        .left {
            border: solid white;
            position: absolute;
            border-width: 0 2px 2px 0;
            padding: 4px;
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            top: 19px;
        }
        .right {
            border: solid white;
            position: absolute;
            border-width: 2px 0px 0px 2px;
            padding: 4px;
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            top: 19px;
            right: 22%;
        }
    }
}
