$urlImage: "../../assets/images";

//FS Font-size
$FStitle: 100px;
$FSsub: 36px;
$FSday: 57px;
$FSdayActive: 80px;
$FSnight: 42px;
$FSnightActive: 54px;

.home {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
    &.show {
      z-index: 1;
    }
  }
  .animation-cloud {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    &::before {
      right: 100%;
    }
    &::before,
    &::after {
      opacity: 0.3;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("#{$urlImage}/clouds/cloud_PNG29@1X.png");
      background-size: 90%;
      background-repeat: no-repeat;
      animation: cloud 60s infinite linear;
    }
  }

  .section1 {
    background-image: url("#{$urlImage}/home/section1/BACKGROUND@1X.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: inline-block;
    // overflow: hidden;
    &.bgnight {
      background-image: url("#{$urlImage}/home/section1/newbg/StarA@2x.png"),
        url("#{$urlImage}/home/section1/newbg/StarB@2x.png"),
        url("#{$urlImage}/home/section1/Rectangle 47.png");
      background-repeat: repeat-x, repeat-x, no-repeat;
      background-position: 0 0, 0 0, 0 0;
      background-size: 50% 100%, 50% 100%, 100%;

      animation: 100s para infinite linear;
    }
    .logo-block {
      // width: 80%;
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      .toggle {
        line-height: 1;
        margin-top: 5px;
        color: white;
        font-size: 22px;
        margin-left: 45px;
        cursor: pointer;
        div {
          float: left;
          margin-left: 5px;
        }
        &.day {
          div:nth-child(2) {
            margin-left: 30px;
          }
          .day {
            color: #6268e9;
            width: 15px;
            border-bottom: 2px solid;
          }
        }
        &.night .night {
          color: #c33289;
          width: 15px;
          border-bottom: 2px solid;
        }
      }
      .left {
        img {
          width: 450px;
        }
      }
      .right {
        // width: 35%;
        margin-bottom: 30px;
        margin-left: -20px;
        line-height: 1.55;
        font-family: "Kanit-Medium";
        font-size: 17px;
        .menu-link {
          color: rgba(255, 255, 255, 0.5);
          text-decoration: unset;
          &.router-link-active {
            color: rgba(255, 255, 255, 1);
            opacity: 1;
          }
          &:hover {
            color: rgba(255, 255, 255, 1);
          }
        }
      }
      &.night .right .menu-link {
        color: #8d8c9a;
      }
    }

    .lang {
      font-family: "Kanit-Medium";
      top: 10px;
      right: 15px;
      position: fixed;
      display: flex;
      text-align: right;
      z-index: 5;
      color: #ffffff;
      cursor: pointer;
      border: 1px solid #030024;
      border-radius: 25px;
      background-color: #030024;
      padding: 0px 15px;
      .menu-lang {
        position: absolute;
        right: 25%;
        top: 40%;
        width: 35%;
        line-height: 1.55;
        font-family: "Kanit-Medium";
        font-size: 17px;
        margin-top: 15px;
        opacity: 0;
        height: 0px;
        overflow: hidden;
        transition: opacity 1s, height 1s;
        &.show {
          opacity: 1;
          height: auto;
          width: 100%;
          overflow: unset;
        }
      }
      div {
        position: relative;
        input[type="radio"] {
          cursor: pointer;
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
    }

    @media screen and (max-width: 426px) {
      .lang {
        padding: 0px 10px;
        font-size: 10px;
        .menu-lang {
          font-size: 10px;
        }
      }
    }

    .star-group {
      position: absolute;
      display: none;
      .blur,
      .star {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
      }
      .star {
        filter: blur(5px);
      }

      &:nth-child(1) {
        // top: 10%;
        // left: 40%;
        width: 30px;
        height: 30px;
        opacity: 1;
        animation: star_position_1 3s infinite;
        .blur {
          width: 30px;
          height: 30px;
          background: #ef1286;
          filter: blur(12px);
        }
        .star {
          width: 20px;
          height: 20px;
          background: #ef1286;
          animation: animationstar_1 1s infinite;
        }
      }

      &:nth-child(2) {
        // top: 10%;
        // left: 70%;
        width: 58px;
        height: 58px;
        opacity: 0.8;
        animation: star_position_2 3s infinite;
        .blur {
          width: 58px;
          height: 58px;
          background: #ef1286;
          filter: blur(12px);
        }
        .star {
          width: 27px;
          height: 27px;
          background: #ef1286;
          filter: blur(6px);
          animation: animationstar_27 1s infinite;
        }
      }

      &:nth-child(3) {
        // top: 65%;
        // left: 18%;
        width: 30px;
        height: 30px;
        animation: star_position_3 3s infinite;
        .blur {
          width: 30px;
          height: 30px;
          background: #e17cff;
          filter: blur(12px);
        }
        .star {
          width: 20px;
          height: 20px;
          background: #e17cff;
          filter: blur(1px);
          animation: animationstar_20 1s infinite;
        }
      }

      &:nth-child(4) {
        // top: 75%;
        // left: 52%;
        width: 30px;
        height: 30px;
        opacity: 0.6;
        animation: star_position_4 3s infinite;
        .blur {
          width: 15px;
          height: 15px;
          background: #ef1286;
          filter: blur(4px);
        }
        .star {
          width: 10px;
          height: 10px;
          background: #ef1286;
          animation: animationstar_10 1s infinite;
        }
      }

      &:nth-child(5) {
        // top: 65%;
        // left: 82%;
        width: 30px;
        height: 30px;
        animation: star_position_5 3s infinite;
        .blur {
          width: 30px;
          height: 30px;
          background: #ef1286;
          filter: blur(12px);
        }
        .star {
          width: 20px;
          height: 20px;
          background: #ef1286;
          filter: blur(1px);
          animation: animationstar_20 1s infinite;
        }
      }

      &:nth-child(6) {
        // top: 89%;
        // left: 27%;
        width: 30px;
        height: 30px;
        opacity: 0.6;
        animation: star_position_6 3s infinite;
        .blur {
          width: 30px;
          height: 30px;
          background: #ef1286;
          filter: blur(12px);
        }
        .star {
          width: 20px;
          height: 20px;
          background: #ef1286;
          filter: blur(2px);
          animation: animationstar_20 1s infinite;
        }
      }

      &:nth-child(7) {
        // top: 84%;
        // left: 65%;
        width: 30px;
        height: 30px;
        opacity: 0.6;
        animation: star_position_7 3s infinite;
        .blur {
          width: 30px;
          height: 30px;
          background: #ef1286;
          filter: blur(12px);
        }
        .star {
          width: 17px;
          height: 17px;
          background: #ef1286;
          filter: blur(1px);
          animation: animationstar_17 1s infinite;
        }
      }
    }
  }
  .sub-section1 {
    position: relative;
    img {
      // display: none;
      width: 100%;
      height: auto;
      // &.active {
      //   display: block;
      // }
      &:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        // transition: width 0.5s;
        object-fit: cover;
        object-position: left;
        :after {
          content: "";
          border-right: 2px dashed grey;
        }
      }
    }

    .slide-bar {
      position: absolute;
      bottom: 10px;
      width: 100%;
      // display: flex;
      display: none;
      flex-direction: column;
      align-items: center;
      .slide-text {
        color: white;
      }
      .points {
        // position: absolute;
        // left: 50%;
        // bottom: 5%;
        // transform: translateX(-50%);
        height: 27px;
        width: 80%;
        background: transparent;
        z-index: 3;
        margin: 10px 0;

        background: linear-gradient(
          to right,
          #b51bff 0%,
          #b51bff 50%,
          #fff 50%,
          #fff 100%
        );
        border: solid 1px #b51bff;
        border-radius: 8px;
        height: 7px;
        outline: none;
        transition: background 450ms ease-in;
        -webkit-appearance: none;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          cursor: pointer;
          border: none;
          height: 16px;
          width: 16px;
          border-radius: 50%;
          background: #ffffff;
          box-shadow: 0px 0px 6px #b51bff;
        }
      }
    }

    .slide-dash {
      // cursor: pointer;
      // position: absolute;
      // left: 50%;
      // top: 0;
      // height: 100%;
      // width: 4px;
      // border-right: 4px dashed grey;
      // z-index: 3;

      opacity: 0;
      cursor: pointer;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
      height: 70px;
      width: 70px;
      border-right: 4px dashed grey;
      z-index: 3;
    }
  }

  $media: 768px 425px;
  $mediaSize: 0.5 0.35;
  @for $i from 1 to length($media) + 1 {
    @media screen and (max-width: nth($media, $i)) {
      .section1 .logo-block {
        .toggle {
          font-size: calc(22px * #{nth($mediaSize, $i)} + 10px);
          margin-left: calc(45px * #{nth($mediaSize, $i)} + 5px);
        }
        .left {
          img {
            width: calc(450px * #{nth($mediaSize, $i)} + 50px);
          }
        }
        .right {
          margin-left: -15px;
          font-size: calc(17px * #{nth($mediaSize, $i)});
        }
      }
    }
  }
}

@keyframes cloud {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@media screen and (max-width: 1024px) {
  .home {
    .section1 {
      background-size: cover;
      &.bgnight {
        background-size: cover;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    .section1 {
      background-size: cover;
      &.bgnight {
        background-size: cover;
      }
    }
  }
}

@keyframes para {
  100% {
    background-position: 100% 0%, 100% 0, 0 0;
  }
}
